.feedback {
  background-color: #33333d;
  padding-bottom: 46px;

  .content__title {
    color: $whiteColor;
  }

  &__group-btn {
    @include flexItemsCenter;
    gap: 14px;
  }

  &__arrow-right {
    @include flexCenter;
    background-color: $whiteColor;
    border: none;
    width: 36px;
    height: 36px;
    border-radius: 3px;
    color: #fd8a00;

    &:hover {
      opacity: 0.9;
      transition: opacity ease-in-out 0.2s;
    }
  }

  &__arrow-left {
    @extend .feedback__arrow-right;
    color: #2f3d62;
  }

  &__content {
    @include flexItemsCenter;
    gap: 60px;
  }

  &__video {
    position: relative;
  }

  &__video-play {
    width: 300px;
    height: 300px;
    border-radius: 8px;
    object-fit: cover;
  }

  &__play-btn,
  &__pause-btn {
    @include flexCenter;
    @include itemCenter;
    background-color: $whiteColor;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    transition: opacity ease-in-out 0.2s;

    &:hover {
      opacity: 0.9;
    }
  }

  &__pause-btn {
    display: none;
  }

  &__pause-icon,
  &__play-icon {
    position: relative;
    color: $buttonPrimaryColor;
    font-size: 2.4rem;
  }

  &__play-icon {
    left: 2px;
  }

  &__desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: $whiteColor;
  }

  &__detail {
    font-size: 2.4rem;
    font-style: italic;
    margin-bottom: 20px;
    margin-right: 140px;
    text-align: justify;
  }

  &__author {
    margin-bottom: 0;
  }
}
