.content {
  margin-top: 90px;

  &__title-group {
    @include flexSpaceBetween;
    gap: 10px;
    padding: 46px 0;
  }

  &__title {
    color: #2f3d62;
    font-size: 2.4rem;
    font-weight: 500;
    margin: 0;
    max-width: 66%;
  }

  &__title-group-btn {
    flex-shrink: 0;
    background-color: $buttonPrimaryColor;
    border: none;
    border-radius: 3px;
    color: $whiteColor;
    font-weight: 500;
    padding: 12px 14px;
  }

  &__title-group-btn:hover {
    opacity: 0.8;
    transition: opacity ease-in-out 0.2s;
  }
}

.btnGoToTop {
  @include flexCenter;
  position: fixed;
  bottom: 80px;
  right: 40px;
  z-index: 500;
  border: none;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-image: linear-gradient(to right, #ff7eb9, #ffcc00);
  transition: opacity ease-in-out 0.5s;
  opacity: 0;
  pointer-events: none;

  &:hover {
    opacity: 0.8 !important;
  }
}
