.sidebar {
  position: fixed;
  z-index: 100;
  width: 360px;
  max-width: 100%;
  background-color: $whiteColor;
  right: 0;
  top: 0;
  bottom: 0;
  transition: transform ease-in-out 0.3s;

  &__header {
    @include flexSpaceBetween;
    border-bottom: 1px solid #eee;
    padding: 20px;
  }

  &__logo-link {
    position: relative;
    left: -12px;
  }

  &__logo {
    width: 120px;
  }

  &__close-btn {
    @include flexCenter;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: transparent;
    border: none;
    transition: background-color ease-in-out 0.2s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  &__item {
    @include flexItemsCenter;
    gap: 10px;
    color: $textColor;
    padding: 12px 20px;
    transition: background-color ease-in-out 0.2s;
    font-size: 1.6rem;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn ease-in-out 0.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
